<h1>Listing pessoas</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Rg</th>
    <th>Cpf</th>
    <th>Telefone</th>
    <th>Endereco</th>
    <th>Cep</th>
    <th>Dt nascto</th>
    <th>Sexo</th>
    <th>Foto</th>
    <th>Email</th>
  </tr>

<% @pessoas.each do |pessoa| %>
  <tr>
    <td><%=h pessoa.nome %></td>
    <td><%=h pessoa.rg %></td>
    <td><%=h pessoa.cpf %></td>
    <td><%=h pessoa.telefone %></td>
    <td><%=h pessoa.endereco %></td>
    <td><%=h pessoa.cep %></td>
    <td><%=h pessoa.dt_nascto %></td>
    <td><%=h pessoa.sexo %></td>
    <td><%=h pessoa.foto %></td>
    <td><%=h pessoa.email %></td>
    <td><%= link_to 'Show', pessoa %></td>
    <td><%= link_to 'Edit', edit_pessoa_path(pessoa) %></td>
    <td><%= link_to 'Destroy', pessoa, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New pessoa', new_pessoa_path %>