<p>
  <b>Nome:</b>
  <%=h @pessoa.nome %>
</p>

<p>
  <b>Rg:</b>
  <%=h @pessoa.rg %>
</p>

<p>
  <b>Cpf:</b>
  <%=h @pessoa.cpf %>
</p>

<p>
  <b>Telefone:</b>
  <%=h @pessoa.telefone %>
</p>

<p>
  <b>Endereco:</b>
  <%=h @pessoa.endereco %>
</p>

<p>
  <b>Cep:</b>
  <%=h @pessoa.cep %>
</p>

<p>
  <b>Dt nascto:</b>
  <%=h @pessoa.dt_nascto %>
</p>

<p>
  <b>Sexo:</b>
  <%=h @pessoa.sexo %>
</p>

<p>
  <b>Foto:</b>
  <%=h @pessoa.foto %>
</p>

<p>
  <b>Email:</b>
  <%=h @pessoa.email %>
</p>


<%= link_to 'Edit', edit_pessoa_path(@pessoa) %> |
<%= link_to 'Back', pessoas_path %>